*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}
/* Header Style*/

.mainLogo img{
    margin: 5px 10px;
    float: left;

}
.msNavbar{
    float: right;
    display: inline-block;

}

.msHeaderWrap{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid grey;
}

header{
    display: block;
}

.msNavList{
    list-style-type: none;
    margin: 0;
    width: 100%;
    display: block; 
    height: 60px;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

.msNavList li {
    float: left;
}

.msNavList li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.msNavList li a:hover {
    background-color: #01010;
}


/****************Login Page ********************/

.captionLogin{
    margin: 20px 0px;
    font-size: 20px;
    margin-bottom: 40px;
}
.msFormGroup{
    margin: 25px 0px;

    display: block;
}
/*************Content wrapper ***************/
.contentWrapper{
    width: 410px;
    display: grid;
    margin: 17px auto;
    height: 80vh;
}

.labelControl{
    text-align:center;
}

.inputControl, .labelControl{
    outline: none;
    width: 350px;
    display: inline-block;
    box-sizing: border-box; 
    padding: 7px 15px;
}

.msCol50{
    display: inline-block;
    box-sizing: border-box; 
    width: 50%;
}


.msLoginBlock {
    border-radius: 5px;
    text-align: center;
    width: 480px;
    padding: 30px 50px;
    margin: auto;
    box-shadow: 0px 0px 2px 2px #80808057;
}

.msBtn {
    margin: 0px 5px;
    outline:none;
    padding: 5px 25px;
    cursor: pointer;
    background: #fff;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid orange;
    padding: 7px 28px;
}

.msBtn:hover{
 background: orange;
}

 .msbtnGroup{
    margin-top: 30px
 }

.companyName{
    margin: 20px 0 0 20px;
}
.mar-top-10{
    margin-top:10px ;
}
.mar-top-2{
    margin-top:2px !important;
}
.login-btn{
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    padding: 6px;
    border: 2px solid #F6BF5E;
    background: #fff;
    width: 140px;
    
}
.pRight{
    float: right;
    margin-right: 10px;
}
.error{
    color: red;
}
.loginICont{
    display: grid;
    height: 100vh;
}