.users{
    height:1020px;
}
.flex{
    display:flex;
}
.width-135{
    /* width:135px; */
    flex: 1 15%;
}
.userfilter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f2f2f2;
    border: 1px solid #b5b5b5;
    margin: 25px 0 0 36px;
    width: 85%;
    height: 55px;
}

.margin-left-10{
    margin-left:10px;
}
.flterbtn{
    cursor: pointer;
    outline: none;
    width: 70px;
    padding: 7px;
    background: #fff;
}
.reset{
    margin-right: 10px;
    border: 2px solid #b5b5b5;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.apply{
    border: 2px solid #b5b5b5;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.reset:active{
    border: 2px solid #ffd83d;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-right: 10px;
}
.apply:active{
    border: 2px solid #ffd83d;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 0 0 36px;
    width: 85%;
}
.pagination p{
    font-size: 14px;
    color: #444;
}
.pagination p span{
    color: black;
}

.ListFilter{
    list-style-type: none;

}

.ListFilter .dropdownWrapper{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.ListFilter .dropdownWrapper select::-ms-expand {
    display: none;
}