/*loader css*/

.loader,
.loader:after {
    border-radius: 50%;
    width: 12em;
    height: 12em;
}
.loader-overlay {
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: 0.5;
    position: fixed;
    z-index: 1000000000;
    top: 0px;
}
.loader {
    margin: 60px auto;
    font-size: 4px;
    top: 32%;
    left: 48%;
    z-index: 100000000000;
    position: fixed;
    text-indent: -9999em;
    border-top: 1.1em solid #e2e2e2;
    border-right: 1.1em solid #e2e2e2;
    border-bottom: 1.1em solid #ffd83d;
    border-left: 1.1em solid #ffd83d;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.loadBg{
    width: 100%;
    float: left;
    height: 150%;
    position: absolute;
    z-index: 99999;
    background: #000;
    opacity: 0.5;
    overflow-y: hidden;
    /* background: #000; */
    top:0;
    left:0;
}